<!-- 
  Title: boarding.html
  Author: Andres Macias
  Date: 07/24/22
  Description: This page contains the boarding services page 
-->

<%- include('header.html') -%>

<section id="boardingPageHeader">
    <img src="/images/Pets-R-Us.png" alt="logo" width="320" height="320">
</section>
<div>
    <section>
        <h1 class="section-header">Boarding Services</h1>
        <div id="cardContainer">
            <div class="card">
                <img class="card-image" src="/images/private-suite.jpeg" alt="dog in big bed">
                <div class="card-content">
                    <h2 class="card-title">Private Suite</h2>
                    <p>Larger, more private rooms with a relaxing diffuser, a white noise machine, and our unbelievably comfortable Superb Sleeper bed are available.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="/images/single-room.jpeg" alt="dog in small bed">
                <div class="card-content">
                    <h2 class="card-title">Single Room</h2>
                    <p>Individual accommodations that are cozy and secure and come with relaxing spray.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="boadingDetails">
        <h1 class="section-header">Overnight stays include:</h1>
        <div class="section-content">
            <div class="content-description">
               <ul class="boarding-details-list">
                <li>Hotel Hosts on-site 24/7</li>
                <li>Convenient drop-off and pickup times</li>
                <li>Personalized play time</li>
                <li>Unlimited relief walks</li>
                <li>Complimentary calming pheromones</li>
               </ul>
            </div>
            <div class="content-description">
                <h2>5 Night Stay</h2>
                <ul class="boarding-details-list">
                    <li>Private suite start at $75 per night</li>
                    <li>Single room: $50 per night</li>
                    <li>Single Dog: $60 + $75 = $135</li>
                    <li>Two Dogs: $120 + $75 = $195</li>
                    <li>Three Dogs: $180 + $75 = $255</li>
                </ul>
                <h2>Extended Night Pricing</h2>
                <ul class="boarding-details-list">
                    <li>After 5 nights $85 per night</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<%- include('footer.html') -%>