<!-- Grooming page.
Create your own Pets-R-Us grooming page.  
Include the appropriate theme, styling, and write-up (minimum 250-words of actual fictious text; no lorem ipsum). 
Required sections:
Pricing (list at least four (4) grooming services with prices). 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets-R-Us | Grooming</title>
</head>
<body>
    <h1>Grooming Page</h1>
</body>
</html>