<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets-R-Us | <%= appTitle %></title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet">
    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/8b2cac046d.js" crossorigin="anonymous"></script>
    <!-- global styles -->
    <link rel="stylesheet" href="/public/styles/site.css">
    <link rel="stylesheet" href="/public/styles/theme.css">
</head>

<body>
    <header>
        <nav>
            <a href="#">Boarding</a>
            <a href="/views/grooming.ejs">Grooming</a>
            <a href="#">Training</a>
            <div class="dropdown">
                <button class="dropbtn">Login
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Register</a>
                    <a href="#">Login</a>
                </div>
            </div>
        </nav>
    </header>