<%- include('header'); %>
<section id="dog-of-the-week">
    <!-- image of dog on the right with a 
    card showing its information -->
</section>
<section id="locations">
    <!-- two locations each with different hours -->
</section>
<section id="testimonials">
    <!-- 3 cards with testimonials -->
</section>
<section id="contact-us">
    <!-- have email address and phone number -->
</section>
<%- include('footer'); %>