<!-- 
 Title: Pets-R-Us Assignment
 Author: Andres Macias
 Date: 07/24/22
 Description: This page contains the user profile and appointment history 
-->


<%- include('header.html') %>
<section id="boardingPageHeader">
    <img src="/images/Pets-R-Us.png" alt="logo" width="320" height="320">
</section>

    <div class="main-container">
        <section id="userProfile">
            <h1 class="section-header">
                Profile
            </h1>
            <p>
                username: <%= currentUser.username %>
            </p>
           
            <% if (currentUser.email) { %>
                <p>
                    email: <%= currentUser.email %>
                </p>
                <% } %>
                    <div class="section-content">
                        <h2>Appointments History</h2>
                        <table id="activeUsers">
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>email</th>
                                <th>Service</th>
                            </tr>
                           
                                <tr>
                                    <td>FIRST NAME</a></td>
                                    <td>FIRST NAME</a></td>
                                    <td>EMAIL</a></td>
                                    <td>SERVICE</a></td>
                                </tr>
                    </div>

                        </table>
    </div>
    </section>
    </div>


    <%- include('footer.html') %>