<%- include('header.html') -%>

    <div id="landingPageHeader">
        <img class="" src="/images/Pets-R-Us.png" alt="logo" width="320" height="320">
    </div>
    <div class="main-container">
        <section id="contact">
            <h1 class="section-header">Registration Form</h1>
            <div class="section-content">
                <form class="contact-form" action="#">
                    <label for="txUserName">First Name</label>
                    <input type="text" id="txUserName" name="txUserName" placeholder="Your name..">

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter a password..">

                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter Email...">
                    <input type="submit" value="Register" class="submit-form">
                </form>
            </div>
        </section>
        <section id="users">
            <h1 class="section-header">Active Users</h1>
            <div class="section-content">
                <% if(users.length > 0 ) { %>
                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Date joined</th>
                    </tr>
                    <tbody>
                        <%users.foreach(function(user) { %>
                        <tr>
                            <td><%user.username %></td>
                            <td>moment(user.joinedAt).format('MM-DD-YYYY') %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else {  %>
                    <h3>Users have not been added to the MongoDB database. Add users!</h3>
                <% } %>
            </div>
        </section>
    </div>
    <%- include('footer.html') -%>