<%- include('header.html') -%>
<div id="landingPageHeader">
    <img class="" src="/images/Pets-R-Us.png" alt="logo" width="320" height="320">
</div>
<div class="main-container">
    <section id="intro">
        <h1 class="section-header">Dog Training</h1>
        <div class="section-content">
            <div class="content-description" id="introDescription">
                <p>Pets-R-Us dog training lessons can teach your dog how to act properly at home and while traveling, regardless of whether you have a young puppy, an older dog, or a rescue. Positive reinforcement is used by our accredited pet trainers to deliver engaging and successful group and private lessons.</p>
            </div>
        </div>
    </section>
    <section id="dogOfWeek">
        <div class="section-content">
            <div id="container">
                <div class="content-left">
                    <h1 class="section-header">Puppy Level 1</h1>
                    <p>This 6-week introductory group class focuses on proper socialization and teaches desired behaviors and cues to address common puppy challenges, such as:</p>
                    <ul>
                        <li>Potty Training</li>
                        <li>Chewing and Teething</li>
                        <li>Digging and More</li>
                    </ul>
                    <p>For puppies 2-4 months</p>
                    <p>$100</p>
                </div>
                <div class="content-description" id="dogOfWeekDescription">
                    <h1 class="section-header">Puppy Level 2</h1>
                    <p>This 6-week intermediate group class expands on the behaviors and cues learned in Puppy Level 1, introducing:</p>
                    <ul>
                        <li>Learning how to establish behaviors as routines</li>
                        <li>Introduction to fun games to mentally stimulate your puppy</li>
                        <li>Advanced training cues</li>
                    </ul>
                    <p>For puppies 4-6 months</p>
                    <p>$150</p>
                </div>
            </div>
        </div>
    </section>
    <section id="dogOfWeek">
        <h1 class="section-header">Potty Training Seminar</h1>
        <div class="section-content">
            <div id="container">
                <div class="content-description" id="dogOfWeekDescription">
                    <p>This results-focused one-hour seminar covers effective potty-training tips and techniques for puppies or dogs of any age.</p>
                    <p>$75</p>
                </div>
            </div>
        </div>
    </section>

    <section id="dogOfWeek">
        <div class="section-content">
            <div id="container">
                <div class="content-left">
                    <h1 class="section-header">Young Adult Level 1</h1>
                    <p>This 6-week introductory group class is designed to introduce techniques to reinforce behaviors learned in our level 1 course while continuing to build on establishing a daily routine.</p>
                    <p>For dogs that have completed our puppy level courses</p>
                    <p>$100</p>
                </div>
                <div class="content-description" id="dogOfWeekDescription">
                    <h1 class="section-header">Young Adult Level 2</h1>
                    <p>This 6-week intermediate group class expands on behaviors and cues learned in Young Adult Level 1, introducing:</p>
                    <ul>
                        <li>Introduction to alone play</li>
                        <li>Adding more distance, duration and distractions to help reinforce behaviors</li>
                    </ul>
                    <p>For dogs that completed our Young Adult level 1 course</p>
                    <p>$150</p>
                </div>
            </div>
        </div>
    </section>
    <section id="dogOfWeek">
        <div class="section-content">
            <div id="container">
                <div class="content-left">
                    <h1 class="section-header">Adult Level 1</h1>
                    <p>This 6-week introductory group class is designed to help you better communicate with and train your dog. Dogs will learn behaviors & cues, such as:</p>
                    <ul>
                        <li>Drop it</li>
                        <li>Wait</li>
                        <li>Loose Leash walking</li>
                        <li>tips to help control jumping, barking and digging</li>
                    </ul>
                    <p>For dogs over 6 months</p>
                    <p>$100</p>
                </div>
                <div class="content-description" id="dogOfWeekDescription">
                    <h1 class="section-header">Adult Level 2</h1>
                    <p>This 6-week intermediate group class expands on behaviors and cues learned in Adult Level 1, introducing:</p>
                    <ul>
                        <li>Introduction to advanced training techniques</li>
                        <li>Advanced fun games to mentally stimulate your dog</li>
                    </ul>
                    <p>For dogs that completed our Adult level 1 course</p>
                    <p>$150</p>
                </div>
            </div>
        </div>
    </section>
    <section id="dogOfWeek">
        <h1 class="section-header">Separation Anxiety Course</h1>
        <div class="section-content">
            <div id="container">
                <div class="content-description" id="dogOfWeekDescription">
                    <p>This four-week group program is designed to teach your dog how to be at home alone and relax while addressing separation anxiety. Your dog will pick up on:</p>
                    <li>How to relax when you are away</li>
                    <li>Techniques to calm themselves when stressed</li>
                    <li>Developing healthy routines</li>
                    <p>$75</p>
                </div>
            </div>
        </div>
    </section>
    

</div>

<%- include('footer.html') -%>