
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  section {
    margin-bottom: 136px;
  }

  .section-header {
    margin-bottom: 32px;
  }

  #cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-image {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
  }

  .content-title {
    font-family: var(--heading-font);
  }

  .content-description p {
    line-height: 24px;
  }

  table {
    width: 100%;
  }
  th, td {
    padding: 15px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  footer {
    height: 64px;
    background-color: var(--tertiary);
  }